<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Real Time Chat Application</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.1/stomp.min.js"></script>
</head>
<body>
    <div class = "container mt-4">
        <h1 class="text-center"> Real-Time Chat Application</h1>

        <div id="chat"
           class = "border rounded p-3 m-3"
            style="height: 300px; overflow-y: auto; ">
        </div>

        <div class = "input-group mb-3">
            <input id="senderInput" type="text" class="form-control"
                    placeholder="Your name ..."/>

        </div>

        <div class = "input-group mb-3">
            <input id="messageInput" type="text" class="form-control"
                   placeholder="Type a message ..."/>
            <div id="input-group-append">
                <button id="sendMessage" class = "btn btn-primary">Send </button>
            </div>

        </div>

    </div>
</body>
<script>
    function setConnected(connected){
        document.getElementById("sendMessage").disabled = !connected;
    }
    function connect(){
        let socket = new SockJS("/chat");
        stompClient = Stomp.over(socket);
        stompClient.connect({},function (frame){
            setConnected(true);
            stompClient.subscribe("/topic/message" , function(message){
                showMessage(JSON.parse(message.body));
            })

        })
    }
    function showMessage(message){
        let chat = document.getElementById('chat');
        let messageElement = document.createElement('div');
        messageElement.textContent = message.sender + ": " + message.content;
        messageElement.class = "border-bottom mb-1";
        chat.appendChild(messageElement);
        chat.scrollTop = chat.scrollHeight;
    }

    function sendMessage(){
        let  sender = document.getElementById('senderInput').value;
        let  content = document.getElementById('messageInput').value;
        var message = {
            sender : sender,
            content : content
        }
        stompClient.send("/app/sendMessage",{},JSON.stringify(message));
        document.getElementById('messageInput').value = '';
    }
    document.getElementById('sendMessage').onclick = sendMessage;
    window.onload = connect;

</script>
</html>